<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Short URL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:#363945">
<h2 style="display:flex; justify-content:center; color:#FFFFFF; margin-top:100px; font-family: Garamond, serif">
    Ввод не является URL-адресом!</h2>
<a style="display:flex; justify-content:center; color:#FFFFFF; font-family: Garamond, serif"
   href="/">Назад</a>
</body>
</html>